@media (max-width : 46.1875em) {
    .s-col-full {
        width: 100% !important;
    }
    .mt-16 {
        margin-top: 16px;
    }
    .mt-8 {
        margin-top: 8px;
    }
    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #nav {
        height: auto;
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav > li > a {
        display: block;
    }
    #header .sidebar-mobile {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        color: #fff;
    }
    #header .sidebar-mobile:hover {
        background-color: #ccc;
        color: #000;
    }
    .contact-section .contact-input .input-control {
        padding: 12px;
    }
    .contact-section .contact-input .btn-contact {
        padding: 16px 16px;
        width: 100%;
    }
    #content .place-item .ticket-btn {
        padding: 16px 16px;
        width: 100%;
    }
    #footer .icon-soccial .icon-mobile {
        font-size: 32px;
        padding: 8px;
    }
}