/* Mobile */
@media (max-width : 740px) {
    
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    .s-mt-8 {
        margin-top: 8px;
    }
    #header {
        overflow: hidden; /* ẩn những thằng con vượt quá kích thước thằng cha */
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #nav {
        display: block;
    }
    #nav .subnav {
        position: initial; /* giá trị mặc định */
        background-color: #333;
    }
    #nav > li {
        display: block;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #header .search-button {
        display: none;
    }
    
    #content .members-list .member-avatar {
        width: 60%;
    }
    .tour-section .places-list .place-mobile {
        width: 100%;
        margin-bottom: 16px;
    }
    #contact .contact-content .contact-info {
        margin-bottom: 16px;
    }
}