/* Reset Css */
* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* một số phím tắt :
 ctrl + shitf + L : bôi đen tất cả chữ giống nhau
 ctrl + D : nhấn D liên tục để bôi đen
 ctrl + D + -> : chuyển bôi đen sang nhấp nháy tiếp theo 
 alt + shift + -> : bôi đen các cục phía sau
*/
/* alt click chuột tạo các gạch nhấp nháy để viết
   vào nhiều chỗ một lúc
*/
/* 
  Nguyên tắc làm việc :
  1.Từ ngoài vào trong
  2.Từ trên xuống dưới
  3.Từ tổng quan đến chi tiết
*/
/* 
  làm một wedsite nên để ý :
  1. Vị trí
  2. Kích thước (width, height)
  3. Màu sắc
  4. Kiểu dáng (kiểu chứ, hình tròn, vuông, ...)
*/
/* Common */
.clear {
  clear: both; 
  /* khi dùng float thì con là float là thằng cha sẽ không ôm được thằng con 
     nên sẽ dùng clear : both để thằng cha ôm được thằng con
  */
}
.text-white { /* sử dụng để chuyển tất cả các div ra màu chữ là trắng */
  color: #fff !important;

}
html {
  scroll-behavior: smooth; /* hành vi khi cuộn */
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}
.row::after { /* tạo ra một element giả để fix lỗi dùng float thẻ cha không ôm được thẻ con */
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-full {
  width: 100%;
}
.col-haft {
  width: calc(100% /2);
}
.col-third {
  width: calc(100% /3);
}
.mt-8 {
   margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
/* Main */
#header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 46px;
   background-color: #000;
   z-index: 1; /* độ sâu của các khối theo trục oz */
   box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}
#nav {
  display: inline-block;
}
#nav,.subnav {
  list-style-type: none; /* loại bỏ dấu chấm mặc định do thẻ ul sinh ra */
}
#nav > li{
  display: inline-block;
}

#nav li {
  position: relative;
}
#nav >li > a {
  color: #fff;
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  font-size: 17px;
  display: block; /* mặc định của thẻ a là inline nên không xét được kích thước */
}

#nav > li:hover > a ,/* khi hover vào thẻ li là con của nav thì con của thẻ li được hover */
#nav .subnav li:hover a{
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px; /* chiều rộng tối thiểu */
  position: absolute;
  top: 100%; /* nó lấy chính chiều cao của thẻ cha chứa nó  */
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav li:hover .subnav { /* di vào li hiện con của nó là subnav */
  display: block;
}
#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}
#nav .nav-arrow-down {
  font-size: 14px;
}

#header .search-button {
   float: right;
   padding: 0 21px;
}

#header .search-button:hover {
  cursor: pointer;
  background-color: #f44336;
}
#header .search-icon{
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%; /* 50% chiều ngang của chính nó */
  background: url('/wed_the_band/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-cotent {
   position: absolute;
   bottom: 47px;
   color: #fff;
   /* left: 50%;
   transform: translateX(-50%); */
   width: 100%;
   text-align: center;
}

#slider .text-heading {
   font-weight: 400;
   font-size: 24px;
}

#slider .text-decrition {
  font-size: 15px;
  margin-top: 25px;
}
#content .content-section {
  width: 800px;
  max-width: 100%; /* khi màn hình trình duyệt không đủ 800px thì width kéo xuống đúng bằng chiều rộng trình duyệt */
  padding: 64px 0 112px;
  margin-left: auto; /* dùng margin-left và right auto để căn giữa */
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px; /* khoảng cách giữa các chữ trong câu */
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  font-style: italic; /* chữ nghiêng */
  opacity: 0.6; /* độ trong suốt */
}
#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify; /* dùng để căn chỉnh đều 2 bên của đoạn văn bản */
  line-height: 1.4; /* chiều cao của từng dòng */
}
#content .members-list {
   margin-top: 48px;
}

#content .member-item {
    float: left;
    /* width: 33.33333%; */
    width: calc(100% /3);
    text-align: center;
}

#content .member-name {
  font-size: 15px;

}

#content .member-avatar {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}
/* Tour section */
.tour-section {
  background-color: #000;
}
.tickets-list {
  background-color: #fff;
  margin-top: 40px;
}
.tickets-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
  list-style-type: none
}
.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px; /* phải có thuộc tính float thì mới dùng margin âm được */
}

/* Places */
.places-list {
  margin-top: 32px;
  /* margin-left: -8px; 
  margin-right: -8px; */
  /* padding-bottom: 48px; */
}

/* .place-item {
  width: calc(100% /3);
  float: left;
  padding: 0 8px;
} */
.place-img {
  width: 100%;
  display: block; /* do ban đầu display :inline nên nó sẽ đẩy thằng display:block ra 1 tí */
}

.place-img:hover {
  opacity: 0.6;
}
.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}

.place-body .place-heading {
  font-size: 15px;
  
}

.place-body .play-time {
  margin: 15px 0;
  opacity: 0.6;
}

.place-body .play-decription {
  line-height: 1.4;
  margin: 15px 0;
}

.place-body .place-buy-btn {
  color: #fff;
  text-transform: capitalize;
  background-color: #000;
  text-decoration: none; /* bỏ gạch chân mặc định của thẻ a */
  padding: 8px 16px;
  border: none;
  display: inline-block; /* vì ban đầu mặc định là thẻ inline nên nó sẽ không có chạm
  vào khối ở trên là thẻ block */
}

.place-body .place-buy-btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

/* Buy tickets modal : đây là kiểu giao diện modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}
.modal.open {
  display: flex;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.5s; /* dùng để tạo hoạt ảnh từ trên xuống  */
}
.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.modal .modal-heading-icon {
  margin-right: 16px;
}

.modal .modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
}
.modal .modal-close:hover {
  opacity: 1;
}
.modal .modal-body {
  padding: 16px;
}
.modal-body .modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}
.modal-body .modal-input {
  border: 1px solid #ccc;
  width: 100%;
  font-size: 15px;
  padding: 10px 0;
  margin-bottom: 24px;
  padding-left: 10px;
}
.modal-body .modal-input:focus-visible {
  outline: 1px solid #33FFCC;
}
.modal #buy-tickets {
  background-color: #009688;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
}
.modal #buy-tickets:hover {
  cursor: pointer;
  opacity: 0.9;
}
.modal-footer {
  padding: 16px;
  text-align: right;
}
.modal-footer .modal-help a{
  color: #009688;
}
/* dùng để tạo hoạt ảnh khi nhấn vào buy ticket thì cửa sổ mở ra từ trên xuống */
@keyframes modalFadeIn {
  from {
     opacity: 0;
     transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* context-form */
.contact-content {
  margin-top: 48px;
}
.contact-info {
  font-size: 18px;
  line-height: 1.5;
}
.contact-info i[class*="ti-"] { /* tìm thẻ i có chứa class bắt đầu bằng 'ti-' */
   width: 30px;
   display: inline-block;
}
.contact-form {
  font-size: 15px; 
  float: right;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.contact-form .form-control:focus-visible {
  outline: 1px solid #0066ff;
}
.contact-form .form-submit-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  float: right;
}
.contact-form .form-submit-btn:hover {
  cursor: pointer;
  color: #000;
  background-color: #ccc;
}
/* Map section */
.map-section img {
  width: 100%;
}
/* Footer section */
#footer {
  padding: 64px 16px;
  text-align: center;
}
#footer .socials-list {
  font-size: 24px;
}
#footer .socials-list a {
  text-decoration: none;
  color: rgb(0,0,0, 0.6);
}
#footer .copy-right a:hover,
#footer .socials-list a:hover {
  opacity: 0.6;
}
#footer .copy-right {
  margin: 15px 0;
  font-size: 15px;
  color: rgb(0,0,0, 0.6);
}
#footer .copy-right a {
  color: rgb(0,0,0, 0.6);
}
