* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
.text-white {
    color: #fff;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
#header {
   height: 46px;
   background-color: #000;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
   box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
#nav {
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li {
    display: inline-block;
}
#nav > li > a {
    color: #fff;
   text-transform: uppercase;
}
#nav li  a {
    padding: 0 24px;
    display: block;
    text-decoration: none;
    line-height: 46px;
    font-size: 18px;
}
#nav > li:hover > a, 
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}
#nav .subnav {
    top: 100%;
    left: 0;
    position: absolute;
    display: none;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav li {
    display: block;
}
#nav .subnav a {
    color: #000;
    line-height: 38px;
    padding: 0 16px;
}
#nav .nav-arrow-down {
    font-size: 14px;
}
#header .search-btn {
    float: right;
    padding: 0 24px;
    
}
#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .ti-search {
    color: #fff;
    line-height: 46px;

}
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url('/ontap/assets/image/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-slider {
   position: absolute;
   bottom: 47px;
   color: #fff;
   text-align: center;
   width: 100%;
} 
#slider .text-heading {
    font-weight: 400px;
    margin-bottom: 25px;
    font-size: 24px;
}
#slider .text-writing {
    font-size: 15px;
}

#content .content-section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}
#content .section-heading {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 4px;
}
#content .section-sub-heading {
    text-align: center;
    opacity: 0.6;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 15px;
}
#content .about-text {
    margin: 15px 0;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-lists {
    padding: 32px 0;
}

#content .member-item {
    float: left;
    width: calc(100% /3);
    text-align: center;
}
#content .member-name {
    margin: 15px 0;
}
#content .member-avatar {
    width: 154px;
    margin-bottom: 16px;
    border-radius: 4px;
}
.tour-section {
    background-color: #000;
}
.tour-section .tickets-list {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 15px;
    list-style-type: none
}
.tour-section .tickets-list li {
    padding: 8px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    line-height: 1.5;
}
.tickets-list .sold-out {
    color: #fff;
    background-color: #f44336;
    margin-left: 16px;
    padding: 0 8px;
    height: 22px;
    display: inline-block;
}
.tickets-list .quantity {
    float: right;
    background-color: #000;
    margin-right: 16px;
    padding: 0 8px;
    border-radius: 50%;
    color: #ffff;
}
.places-list {
    margin-top: 32px;
    padding-bottom: 48px;
    margin-left: -8px;
    margin-right: -8px;
}
.places-list .place-item {
    float: left;
    width: calc(100% /3);
    padding: 0 8px;
}

.places-list .place-body {
    background-color: #fff;
    padding: 0 16px;
    font-size: 15px;
    padding-bottom: 15px;
}
.places-list .place-img {
    width: 100%;
    display: block;
}
.places-list .place-img:hover {
    opacity: 0.6;
}
.place-body .place-heading {
    padding: 15px 0;
    font-size: 15px;
}
.place-body .play-time {
    margin: 15px 0;
    opacity: 0.6;
}
.place-body .play-decription {
    margin: 15px 0;
    font-weight: 500;
    line-height: 1.4;
}
.place-body .place-buy-btn {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
    border: none;
}
.place-body .place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open {
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 2.5;
}
.modal .modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #fff;
    letter-spacing: 4px;
}
.modal .modal-heading-icon {
    margin-right: 16px;
}
.modal .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
}
.modal .modal-close:hover {
    background-color: #ccc;
    color: #000;
}
.modal .modal-body {
    padding: 20px 16px;
    font-size: 15px;
}
.modal .modal-label {
    display: block;
   margin-bottom: 12px;
}
.modal .modal-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 10px;
    border: 1px solid #ccc;
}
.modal #buy-tickets {
    width: 100%;
    background-color: #009688;
    border: none;
    color: #fff;
    padding: 16px;
    margin: 16px 0;
    text-transform: uppercase;
    font-size: 18px;
}
.modal #buy-tickets:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.modal .modal-footer {
    margin-bottom: 15px;
    text-align: right;
    padding-right: 20px;
}
.modal-footer .modal-help a {
    color: #009688;
}
@keyframes modalFadeIn {
    from {
       opacity: 0;
       transform: translateY(-140px);
    }
    to {
       opacity: 1;
       transform: translateY(0);
    }
}