<div class="card filters">
  <div class="card-header">
    <strong>Khoảng Giá</strong>
  </div>

  <div class="card-body">
    <form>
      <div class="form-group card-body__item">
        <label class="card-body__item-label" for="from">Từ </label>
        <input type="number" id="from" class="form-control" placeholder="VND" />
      </div>

      <div class="form-group card-body__item">
        <label class="card-body__item-label" for="to">Đến</label>
        <input type="number" id="to" class="form-control" placeholder="VND" />
      </div>

      <button class="btn btn-primary btn-block btn-sm card-body__btn">
        Lọc sản phẩm
      </button>
    </form>
  </div>
</div>
