.header {
    height: 120px;
    background-image: linear-gradient(0,#ff6433,#f63f2e);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover,
.header__navbar-icon:hover  {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 14px;
    background-color: #f96d5c;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon {
    color: var(--white-color);
    font-size: 1.6rem;
    margin: 0 4px;
    line-height: 1.8rem;
}
.header__navbar-icon-link {
    text-decoration: none;
}
.header__navbar-title-no-pointer {
    cursor: text;
    color: var(--white-color);
}
.header__qr {
    position: absolute;
    padding: 4px;
    background-color:var(--white-color);
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    top: calc(100% + 10px);
    display: none;
    will-change: opacity,transform;
}
.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    height: 10px;
    width: 100%;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__qr-img {
    width: 180px;
    height: 180px;
}
.header__qr-link {
    text-decoration: none;
}
.header__qr-dowload-img {
    width: 70px;
    margin-left: 10px;
}
.header__notify {
    position: absolute;
    width: 404px;
    right: 0;
    top: calc(100% + 10px);
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    display: none;
    animation: headerNotifyGrowth ease-in 0.3s;
    transform-origin: top right;
}
.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}
.header__notify::before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 10px;
    top: -30px;
}
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 89px;
    height: 20px;
    right: 0;
    top: -20px;
}
.header__notify-header {
    height: 40px;
}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0.8;
}
.header__notify-list {
    padding-left: 0;
}
.header__notify-item {
    padding: 12px;
    background-color: rgba(238,75,43,0.08);
}
.header__notify-item:hover {
    background-color: #f7f7f7;
}
.header__notify-link {
    display:flex;
    text-decoration: none;
}

.header__notify-img {
   width: 48px;
   object-fit: contain;
   border-radius: 5px;
}

.header__notify-info {
   margin-left: 12px;
}

.header__notify-name {
   display: block;
   font-size: 1.4rem;
   color: var(--black-color);
   margin-bottom: 4px;
}

.header__notify-description {
   display: block;
   font-size: 1.2rem;
   color: #756F6E;

}
.header__notify-footer {
    text-align: center;
}
.header__notify-footer-btn {
    text-decoration: none;
    display: block;
    padding: 14px 0;
    color: var(--text-color);
}
@keyframes headerNotifyGrowth {
    from {
       opacity: 0;
       transform: scale(0);
    }to {
       opacity: 1;
       transform: scale(1);
    }
}
