.box {
    width: 200px;
    height: 200px;
    background-color: orangered;
}
.main {
    width: 50%;
    height: 50%;
    background-color: palegreen;
}
.html {
    font-size: 10px;
}
#test {
    font-size: 4rem;
}