.box::before {
    width: 100px;
    height: 100px;
    background-color: sienna;
    display: block;
    content: "test";
}
.box{
    width: 200px;
    height: 200px;
    background-color: silver;
}
