<ng-template #buttonTmpl let-label let-className="className" let-icon="icon">
  <button [ngClass]="['btn', className ? className : '']">
    <i *ngIf="icon" class="fa {{ icon }}"></i>
    {{ label }}
  </button>
</ng-template>

<ng-container
  [ngTemplateOutlet]="buttonTmpl"
  [ngTemplateOutletContext]="{
    $implicit: 'Click here',
    className: 'btn-primary',
    icon: null
  }"
>
</ng-container>

<ng-container
  [ngTemplateOutlet]="buttonTmpl"
  [ngTemplateOutletContext]="{
    $implicit: 'Remove',
    className: 'btn-danger',
    icon: 'fa-remove'
  }"
>
</ng-container>
