<div class="box-demo bg-normal" [class.bg-active]="user.age > 18">
  {{ user.name }}
</div>
<p [style]="{ color: 'red', backgroundColor: 'orange' }">style binding</p>
<p [style]="styleOfMe">hello anh em</p>
<progress-bar></progress-bar>
<br />
<br />
<progress-bar
  [progress]="progressPercent"
  [progress-color]="ProgressColor"
></progress-bar>
<br />

<p>Tăng giảm progress</p>
<button (click)="progressPercent = progressPercent + 1">Tăng progress</button>
<span [style]="styleProgress">{{ progressPercent }}</span>
<button (click)="progressPercent = progressPercent - 1">Giảm progress</button>
<p>Xét màu sắc</p>
<button
  *ngFor="let myColor of listColor; last as lastColor"
  (click)="ProgressColor = myColor"
  [class.mt-right]="!lastColor"
>
  {{ myColor }}
</button>
